h1 {
    background-color: darkgray;
    text-align: center;
}

h2{
    background-color: lightgray;
    text-align: center;
}

.jumbotron {
    border: 1px solid;
}

#search {
    border: 1px solid;
}

.col-md-2 {
    border: 1px solid;
}