body {
    background-color: skyblue;
}


h1 {
       text-align: center;
       color: yellow;
}

h2{
    color: yellow;
    text-align: center;
}

.jumbotron {
    border: 1px solid;
}

#search {
    border: 1px solid;
}

.col-md-2 {
    border: 1px solid;
}